.select {
    outline: 0;
    overflow: hidden;
    height: 30px;
    width: 200px;
    font-size: 14px;
    background: white;
    color: black;
    border: 1px solid #d9d9d9;
    padding: 5px 3px 5px 10px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;

    option {
        border: 1px solid #aed4fa;
        background: white;   
    }
}
